<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will 
    all be handled by hello.js:
    
        http://localhost/node/express/myapp/api/login
        http://localhost/node/express/myapp/api/navbar/:id
        http://localhost/node/express/myapp/api/navbarSon/:id

        http://localhost/node/express/myapp/api/comboDepartamento
        http://localhost/node/express/myapp/api/comboMunicipio/:id
        http://localhost/node/express/myapp/api/comboZona/:id
        http://localhost/node/express/myapp/api/comboColonia/:id
        http://localhost/node/express/myapp/api/comboCliente
        http://localhost/node/express/myapp/api/ComboTipoCuentaBancaria
        http://localhost/node/express/myapp/api/ComboTipoProducto
        http://localhost/node/express/myapp/api/ComboBanco
        http://localhost/node/express/myapp/api/ComboTipoPago
        http://localhost/node/express/myapp/api/ComboMunicipioDireccion/:id
        http://localhost/node/express/myapp/api/ComboSocioCliente/:id

        http://localhost/node/express/myapp/api/agregarCliente
        http://localhost/node/express/myapp/api/AgregarDatosSocio
        http://localhost/node/express/myapp/api/ObtenerSocios      
        http://localhost/node/express/myapp/api/AgregarDireccionSocio
        http://localhost/node/express/myapp/api/ObtenerParametrosSocio/:id
        http://localhost/node/express/myapp/api/AgregarContactoSocio
        http://localhost/node/express/myapp/api/AgregarTelefonos
        http://localhost/node/express/myapp/api/AgregarCuentaBancaria
        http://localhost/node/express/myapp/api/AgregarCorreos
        http://localhost/node/express/myapp/api/ObtenerContactosSocio/:id
        http://localhost/node/express/myapp/api/ComboTipoTelefono
        http://localhost/node/express/myapp/api/ComboTipoCorreo

        http://localhost/node/express/myapp/api/ListarDireccionesSocio/:id
        http://localhost/node/express/myapp/api/ListarContactosSocio/:id
        http://localhost/node/express/myapp/api/ListarDatosFinancieros/:id
        http://localhost/node/express/myapp/api/ObtenerTelefonoSocio/:id

        http://localhost/node/express/myapp/api/ObtenerClienteCombo/:id
        http://localhost/node/express/myapp/api/ObtenerDireccionClientes/:id
        http://localhost/node/express/myapp/api/AgregarPedido
        http://localhost/node/express/myapp/api/ObtenerFormaPago
        http://localhost/node/express/myapp/api/ObtenerTipoPedido
        http://localhost/node/express/myapp/api/ListadoPedidos/:id
        http://localhost/node/express/myapp/api/fichaPDF/:id

        http://localhost/node/express/myapp/api/AgregarDatosMunicipio
        http://localhost/node/express/myapp/api/AgregarDatosZona
        http://localhost/node/express/myapp/api/AgregarDatosColonia

        http://localhost/node/express/myapp/api/EditarDatosSocio
        http://localhost/node/express/myapp/api/ObtenerDatosFinancierosId/:id
        http://localhost/node/express/myapp/api/EditarDatosFinancieros
        http://localhost/node/express/myapp/api/ObtenerDatosContactoId/:id
        http://localhost/node/express/myapp/api/EditarDatosContacto
        http://localhost/node/express/myapp/api/ObtenerDireccionSocioId/:id
        http://localhost/node/express/myapp/api/EditarDireccionSocio
        http://localhost/node/express/myapp/api/CrearCuenta 
        http://localhost/node/express/myapp/api/ObtenerSociosId/:id
        http://localhost/node/express/myapp/api/EditarDatosPedidosSocio
        http://localhost/node/express/myapp/api/EditarDatosPedidosContacto
        http://localhost/node/express/myapp/api/EditarDatosPedido

        http://localhost/node/express/myapp/api/obtenerDatosClienteCF
        http://localhost/node/express/myapp/api/obtenerDatosDireccionClienteCF/:id
        http://localhost/node/express/myapp/api/obtenerHistorialEstado/:id
        http://localhost/node/express/myapp/api/listarEstado
        http://localhost/node/express/myapp/api/CambioEstadoPedido
        http://localhost/node/express/myapp/api/fechaHoraEntrega
        http://localhost/node/express/myapp/api/EditarDatosPedidosClienteCF

        http://localhost/node/express/myapp/api/AgregarDomiciliar
        http://localhost/node/express/myapp/api/ObtenerDomiciliar
        http://localhost/node/express/myapp/api/AsignacionDomiciliar
        http://localhost/node/express/myapp/api/ObtenerListadoDomiciliar
        http://localhost/node/express/myapp/api/ObtenerDomiciliarSeleccionado/:id
        http://localhost/node/express/myapp/api/EditarDomiciliar
        http://localhost/node/express/myapp/api/ObtenerDomiciliarSeleccionadoPedido/:id
        http://localhost/node/express/myapp/api/EdicionAsignacionDomiciliar

        http://localhost/node/express/myapp/api/filtroFecha/:id/:idSocio
        http://localhost/node/express/myapp/api/filtroFecha/:fechaDesde/:fechaHasta/:idSocio
        http://localhost/node/express/myapp/api/:IdEstado/:idSocio
        http://localhost/node/express/myapp/api/filtroFecha/:IdDomiciliarRecepcion/:IdDomiciliarEntrega/:opcion
    
        http://localhost/node/express/myapp/api/ComboConceptoPago
        http://localhost/node/express/myapp/api/AgregarDetallePago
        http://localhost/node/express/myapp/api/obtenerDetallePedido/:IdPedido
        http://localhost/node/express/myapp/api/subirArchivo
        http://localhost/node/express/myapp/api/AgregarContactoMasivo
        http://localhost/node/express/myapp/api/AgregarDireccionMasivo
        http://localhost/node/express/myapp/api/ListadoPagoLiquidaciones/:fechaDesde
        http://localhost/node/express/myapp/api/AgregarLiquidaciones

        http://localhost/node/express/myapp/api/EdicionDetalleImportePago
        http://localhost/node/express/myapp/api/IdDetalleImportePedido/:IdDetalleImportePago
        http://localhost/node/express/myapp/api/EdicionMontoCobroPedido

        http://localhost/node/express/myapp/api/ReporteSocio
        http://localhost/node/express/myapp/api/ReporteSocioConsumidorFinal
        http://localhost/node/express/myapp/api/TablaReporteria

        http://localhost/node/express/myapp/api/DatosApiTigo
        http://localhost/node/express/myapp/api/InformacionTigo
        http://localhost/node/express/myapp/api/InformacionSocioMensajeria/:IdPedido

        http://localhost/node/express/myapp/api/CrearSector
        http://localhost/node/express/myapp/api/CrearRuta
        http://localhost/node/express/myapp/api/CrearRutaTarifa
        http://localhost/node/express/myapp/api/EditarSector
        http://localhost/node/express/myapp/api/EditarRuta
        http://localhost/node/express/myapp/api/EditarRutaTarifa
        http://localhost/node/express/myapp/api/EliminacionRuta
        http://localhost/node/express/myapp/api/ObtenerSector
        http://localhost/node/express/myapp/api/ObtenerRuta
        http://localhost/node/express/myapp/api/ObtenerRutaTarifa
        http://localhost/node/express/myapp/api/ObtenerTarifaRuta
        http://localhost/node/express/myapp/api/ObtenerMontoTarifa
        http://localhost/node/express/myapp/api/CrearTarifaPedido
    
  

    
    -->


    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="myapp/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
